.container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #648bc4, #6610f2);
}


.login-container {
    background-color: aliceblue;
    padding: 50px 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 400px;
}


/* Form Inputs */

.login-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

.login-form input:focus {
    outline: none;
    border-color: #0d6efd;
    box-shadow: 0 0 0 3px rgba(13, 110, 253, 0.2);
}

.login-form button {
    width: 100%;
    padding: 12px;
    background-color: #0d6efd;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.login-form button:hover {
    background-color: #0b5ed7;
}